<ion-content [ngStyle]="{'background-image': 'url(assets/bgs/' + current.bg + '.png)'}">
  <ion-grid class="current-details" ion-fixed>

    <ion-row height-66 align-items-center>
      <ion-col align-self-center *ngIf="forecasts[currentForecast].items.length > 0">
        <h1 class="current-temp" color="white">{{current.temperature}} <ion-icon [name]="current.icon"></ion-icon></h1>
        <ion-row class="current-more">
          <ion-col>
            {{current.city}}
          </ion-col>
        </ion-row>
        <ion-row class="current-more">
          <ion-col col-3>
            humidity <br><br>
            {{current.humidity}} %
          </ion-col>
          <ion-col col-3>
            wind <br><br>
            {{current.wind}} m/s
          </ion-col>
          <ion-col col-3>
            sunrise <br><br>
            {{current.sunrise}}
          </ion-col>
          <ion-col col-3>
            sunset <br><br>
            {{current.sunset}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row height-33 align-items-center class="forecast" [ngStyle]="{'background': foreCastBG}">

      <ion-col align-self-center col-12 *ngIf="forecasts[currentForecast].items.length > 0">      
        <button ion-button icon-right color="light" clear  block (click)="onClickCurrentForecast()">{{forecasts[currentForecast].text}} <ion-icon name="md-arrow-dropdown"></ion-icon></button>
      </ion-col>

      <ion-col col-12 *ngIf="forecasts[currentForecast].items.length > 0">
        <ion-row align-items-center>
          <ion-scroll scrollX="true" class="upcoming-details">
            <ion-col  col-3 *ngFor="let n of forecasts[currentForecast].items" class="each-forecast">
                <ion-row><ion-col>{{n.time}}</ion-col></ion-row>
                <ion-row><ion-col><ion-icon color="light" [name]="n.icon"></ion-icon></ion-col></ion-row>
                <ion-row><ion-col>{{n.temperature}}°</ion-col></ion-row>
            </ion-col>
          </ion-scroll>
        </ion-row>
        
      </ion-col>
      <ion-col *ngIf="forecasts[currentForecast].items.length === 0">
        <h2 color="light">Getting Weather <ion-spinner color="light"></ion-spinner></h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>